
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    text-transform:uppercase;
    width:100%;
    position:relative;
}

input
{
    -webkit-appearance: none;
    -moz-appearance: textfield;
    background:none;
    border:none;
    border-bottom:solid;
    font-size:5vh;
    text-align:center;
    border-width:1px;
    margin-left:10px;
    margin-right:10px;
    padding-bottom:1.5vh;
    color:white;
}

button
{
    color:white;
    background-color:transparent;
    border:solid;
}

#buttonContainer
{
    top:40vh;
    width:100%;
    height:10vh;
}

.fbutton
{
    width:50%;
    height:100%;
    font-size:5vh;
     
}

.input_field
{ 
    width: 6vh;
    height:4vh;
}

#stop_btn
{
   visibility:hidden;
}

#box{
    width:100%;
    height:100%;
    background-color:#0069a5 ;
    color:white;
    font-family:abc;
    
}

@font-face {
  font-family: abc;
  src: url(abc.ttf);
}


#digitsContainer
{
    width:100%;
    position:absolute;
    top:14vh;
    height:10vh;
    font-size:14vh;
    text-align:center;
   
}



#displayContainer
{
    position:relative;
    width: 100%;
    height: 40%;
    
}

#inputContainer
{
    position:relative;
    width: 100%;
    height: 40%;

}

#WorkInputContainer
{
    width:100%;
    height:30%;


}

#RestInputContainer
{
    width:100%;
    height:30%;

}

#SetInputContainer
{
    width:100%;
    height:30%;

}

#MessageContainer
{
    position:absolute;
    bottom:0%;
    width:100%;
    height:10vh;
    font-size:7vh;
    text-align:center;
    opacity:0.7;

}

#SetContainer
{
    visibility:hidden;
    position:absolute;
    top:2vh;
    font-size: 5vh;
    width:100%;
    height:8vh;
    text-align:center;
}

.flexeri{
    display:flex;
    font-size:4vh;
    padding:none;
    padding-left:50px;
    box-sizing: border-box;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
} 


#reset_btn
{
    visibility:hidden;
    width:100%;
    border:none;
}



